# General
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/settings.json
*.code-workspace

# PyCharm
.idea/*
.idex/.name
!.idea/vcs.xml
!.idea/inspectionProfiles/profiles_settings.xml
!.idea/inspectionProfiles/Project_Default.xml

# python cache
__pycache__/

# Python virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Files
*.env
*.png
*.db
*.csv
!stock_prices.db
activate.cmd
!static/_return_trends_sample.png
!static/_votality_trends_sample.png
!static/_return_lstm_sample.png